<div class="home-container">
  <div class="container">
    <div class="info-container">
      <h1>Welcome to Medly Forma</h1>
      <p>Discover our Revolutionary Health and Wellness Solution</p>
      <p>At Medly Forma, we believe in empowering individuals to lead a healthier and more fulfilling life. Our
        cutting-edge health and wellness solution is designed to revolutionize the way you take care of your well-being.
      </p>
      <p>With Medly Forma, you'll have access to:</p>
      <ul>
        <li>Personalized health assessments</li>
        <li>Advanced fitness tracking</li>
        <li>Nutritional guidance and meal planning</li>
        <li>Expert health advice and support</li>
      </ul>
      <p>Embark on a transformative journey towards optimal health and unlock your true potential with Medly Forma. Take
        control of your well-being and achieve a balanced and vibrant life.</p>
      <button class="btn pt-3 pb-3 pl-5 pr-5"
        style="background-color: rgb(250, 220, 29); border-radius: 30px;border: 2px solid black; font-size: 14px;"
        (click)="onShop()">Explore Now</button>
    </div>
    <div class="image-container">
      <img
        src="https://media.licdn.com/dms/image/C4E0BAQGAXkf3MCI2ow/company-logo_200_200/0/1557173550821?e=2147483647&v=beta&t=9KEuV8FLpIGLuVS8XKIKg2T_2vb8c6nUbjMlWNmzfkU"
        style="width: 100%; max-height: 500px; object-fit: cover;" alt="Medly Forma Image">
    </div>
  </div>
  <app-footer></app-footer>
</div>